DB_USER=inventari
DB_PASSWORD=cambia_esto
DB_NAME=inventari
DUCKDNS_SUBDOMAIN=inventari-colegio
DUCKDNS_TOKEN=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
DOMAIN=inventari-colegio.duckdns.org
ACME_EMAIL=tu@email.com
